<!DOCTYPE html>
<html ng-app="">

<head>
	<title> Angular JS | Test </title>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.js"></script>
</head>

<body>
	<input type="text" ng-model="name"><br> Name is : {{name}}<br> 10*10 is : {{10 * 10}}<br>
	<div ng-bind="name">Name is : </div>
	<div ng-init="var1='Variable1 value'"></div>
	<div ng-bind="var1"></div>
	<div ng-init="favLang='Java'"></div>
	<input type="text" ng-model="favLang"> Fav Language is : {{favLang}}
	<div ng-bind="favLang"></div>
</body>

</html>